<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671853993276-qr4ao6rdeqi09g0s3rs0aqq272aqbj7l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671853993276-qr4ao6rdeqi09g0s3rs0aqq272aqbj7l</string>
	<key>API_KEY</key>
	<string>AIzaSyA8Q0k0EGq8srWoJngTmW5AhChj_YU6WJA</string>
	<key>GCM_SENDER_ID</key>
	<string>671853993276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.azamahmed.app</string>
	<key>PROJECT_ID</key>
	<string>application-bbf0d</string>
	<key>STORAGE_BUCKET</key>
	<string>application-bbf0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671853993276:ios:19e53824035d36fe395239</string>
</dict>
</plist>